<h1>New Game</h1>

<ul>
  <% @letters.each do |letter|%>
    <button class="d-inbuttonne p-2 bg-primary text-white m-1 pl-3 pr-3"><%=letter %></button>
  <% end %>
</ul>

<p>What is the longest word you can find ?</p>
<form action="/score" method="post" data-turbo="false">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :random_letters, @letters %>
  <input id="your-answer" type="text" placeholder="Your answer" name="answer">
  <input type="submit" value="Play" class="btn btn-primary">
</form>
